html {
  font-size: 62.5%;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-image: url(/img/fondo.png);
    background-size: cover;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#tituloPrincipal{
  text-align: center;
  font-size: 4rem;
}

.tituloNombre {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 2.3rem;
}

.tituloRich{
  color: rgb(255, 255, 255);
  background: rgb(43, 43, 43);
}
.tituloKiller{
  color: rgb(22, 22, 22);
  background: rgb(255, 255, 255);
}
.tituloVandal{
  color: rgb(68, 42, 0);
  background: rgb(0, 179, 170);
}
.tituloKaky{
  color: rgb(0, 0, 0);
  background: rgb(255, 169, 169);
}

.titulo {
  width: 100%;
  background: #FFB23A;
  text-align: center;
  color: black;
  font-size: 1.7rem;
}

.vida img{
  width: 17rem;
  display: block;
  margin:auto;
  padding: 0.3rem 0rem;
}
ti {
  width: 16%;
  border: 0rem solid rgb(63, 63, 63);
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  padding:0.4rem 0rem;
}

div.noenchant {
  color: rgba(255, 255, 255, 0);
}
img.noimg {
  opacity: 0;
}
img.grayimg {
  filter: grayscale(1);
}
ti img {
  width: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tiVacio {
  display: none;
}
div.minerales,div.curacion,div.nether,div.portal,div.misc,div.pociones,div.inventario {
  width: 100%;
  background: rgb(32, 32, 32);
  text-align: center;
  color: white;
  font-size: 1.6rem;
  display: flex;
  padding: 0.6rem 0rem;
  
  justify-content: center;
  align-items: center;
}
div.portal {
  height: 4.5rem;
  width: 50%;
}
div.pociones,div.inventario{
  background: rgb(26, 26, 26);
}

div.minerales img, div.curacion img,div.nether img,div.portal img,div.misc img,div.pociones img,div.inventario img{
  width: 2.5rem;
  display: inline-block;
  margin-left: 1rem;
  margin-right: 0.3rem;
}


div.misc{
  height:5rem;
}
div.misc img{
  width: 3.5rem;
}

div.inventario{
  cursor: pointer;
}


div.minerales img:nth-child(1), div.curacion img:nth-child(1), div.nether img:nth-child(1),div.pociones img:nth-child(1),div.inventario img:nth-child(1){
  margin-left: 0rem;
}
@media screen and (max-width: 1250px) {
  .container ul li {
    width: 45%;
    margin-left: 1rem;
  }
}
div#NOMARGIN{
  margin-bottom: 0rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0px;
  }
  .container ul li {
    float: none;
    width: 80%;
    margin: 40px auto;
  }
}





#kiko-slider{
  font-family: sans-serif;
  width: 100%;
  box-sizing: border-box;
}

#kiko-slider > ul, li {
    padding: 0;
    margin: auto;
    list-style: none;
    max-width: 90%;
}

#kiko-slider > ul.slider{
  position: relative;
  margin-top: 3%;
  width: 100%;
}

#kiko-slider > ul.slider h1{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  left: 50%;
  top: 10rem;
  transform: translate(-50%, -50%);
}

#kiko-slider > ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}


#kiko-slider > ul.slider li:first-child {
    opacity: 0; 
}

#kiko-slider > ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

#kiko-slider > .menu{
  text-align: center;
  margin: 10px;
  position: absolute;
  top: 55rem;
  left: 50%;
  transform: translateX(-50%);
}

#kiko-slider > .menu li{
  display: inline-block;
  text-align: center;
}

#kiko-slider > .menu li img{
  display: inline-block;
  color: white;
  text-decoration: none;
  border: 0.3rem solid #ccbe00;
  border-radius: 20%;
  margin: 0rem 0.8rem;
  width: 4rem;
}

.stats {
  display: block;
  list-style: none;
  width: 33rem;
  background: rgb(26, 26, 26);
  margin-bottom: 2rem;;
  border: 0.3rem solid rgb(26, 26, 26);
  box-sizing: border-box;
}

.stats > .titulo {
  background: rgb(32, 32, 32);
  width: 100%;
  text-align: center;
  font-size: 4rem;
 
}


.espacioBlanco{
  height: 1rem;
}
/**tr.armadura > ti 
  margin-bottom: 12rem;

**/

.imgIzquierda {
  height: 40rem;
}

.testFlex{
  display: flex;
  align-items: center;
  justify-content:center;
}

.stats>div{
  padding: 0.5rem 0rem;
}

.logo{
  position: absolute;
  width: 25%;
}



/** Cosas de Sidebar **/
#sidebar-body {
  overflow-x: hidden;
}

.sidebar {
  /*background: #42b078;*/
  position: fixed;
  right: -22rem;
  width: 25rem;
  transition: all 0.3s;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 5rem;
  background-color: #55582e;
}
h3{
font-size: 2.4rem;
display: inline-block;
top: 10%;
margin: 0 0 0 0.4rem;
}
.sidebar:hover {
  right: 0;
}

.grupo {
position: relative;
display: flex;
flex-direction: column;
margin-top: 130vh;
}

.texto{
font-size: 1.4rem;
display: inline-block;
top: 10%;
margin-left: 0.5rem;
margin-top: 0rem;
}

.break{
height: 2rem;
}

/* unvisited link */
a.creditos:link {
color: white;
}

/* visited link */
a.creditos:visited {
color: white;
}

/* mouse over link */
a.creditos:hover {
color: rgb(158, 158, 158);
}

/* selected link */
a.creditos:active {
color: rgb(126, 126, 126);
}

.episodios{
background-color: #6e7149;
font-size: 1.2rem;
padding: 0.8rem 0.3rem;
margin: 2rem 0rem;
max-width: 18rem;
}

/* unvisited link */
a.linkEpisodios:link {
color: white;
}

/* visited link */
a.linkEpisodios:visited {
color: white;
}

/* mouse over link */
a.linkEpisodios:hover {
color: rgb(46, 46, 46);
}

.episodios:hover{
background-color: #999c64;
}

/* selected link */
a.linkEpisodios:active {
color: rgb(126, 126, 126);
}

.list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item {
  position: relative;
  display: inline-block;
  padding: 0.75rem 0rem;
  margin-bottom: -1px;
  background-color: #55582e;
  border: 1px solid rgba(0, 0, 0, 0.125);
  height: 100vh;
}


.sidebar::before {
    content: "< ";
    margin-right: 1rem;
    line-height: 100vh;
    background-color: #6e7149;
    padding:100vh 0.8rem ;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}